<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Personality Fit Interview</title>

    <link rel="stylesheet" href="./styles.css" />

    <script src="https://unpkg.com/vue-dndrop"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  </head>

  <body>
    <div id="app" class="demo">
      <div v-if="isAdmin()" class="admin">
        <select @change="changePage" v-model="activePage">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="container" v-bind:class="'p' + activePage">
        <Container
          :remove-on-drop-out="false"
          :get-child-payload="getChildPayload"
          drag-class="dragging"
          @drag-start="onDragStart"
          @drop="onDrop"
        >
          <Draggable v-for="item in pages[activePage]" :key="item.id">
            <div
              v-bind:class="{ selected: selectedCard == item.id }"
              class="draggable-item"
            >
              {{ item.title }}
            </div>
          </Draggable>
        </Container>
      </div>
    </div>

    <script src="./helpers.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
