.container {
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

.draggable-item {
  flex-direction: row !important;
  font-family: sans-serif;
  font-size: 4vw;
  text-align: center;
  background-color: white;
  border: 1px solid #597ba0aa;
  border-left: 5px solid gray;
  margin: 1rem 0rem;
  padding: 2rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  min-width: 50%;
}

.dndrop-container.vertical > .dndrop-draggable-wrapper {
  overflow: initial;
  width: 100%;
}

.p0 .draggable-item {
  border: 15px solid #ffffff;
  color: #000000;
  background-color: #ffffff;
}

.p1 .draggable-item {
  border-left: 15px solid #42b883;
  background-color: #9dd19d;
}

.p2 .draggable-item {
  border-left: 15px solid red;
  background-color: #ff9e70;
}

.p3 .draggable-item,
.p4 .draggable-item,
.p5 .draggable-item {
  border-left: 15px solid #0202c9;
  background-color: #8888ff;
}

.dragging {
  filter: brightness(110%);
}

.selected {
  filter: brightness(80%);
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
