.demo {
  font-family: sans-serif;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px 30px;
  margin-top: 1em;
  margin-bottom: 40px;
  user-select: none;
  overflow-x: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable-item {
  flex-direction: row !important;
  font-family: sans-serif;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  border: 1px solid #597ba0aa;
  border-left: 5px solid gray;
  margin: 10px;
  padding: 3rem 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2rem;
  width: 30rem;
}

.p0 {
  border-left: 15px solid #42b883;
  background-color: #9dd19d;
}

.p1 {
  border-left: 15px solid red;
  background-color: #ff9e70;
}

.p2 {
  border-left: 15px solid #0202c9;
  background-color: #8888ff;
}

.dragging {
  filter: brightness(110%);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

button {
  margin: 0.5rem;
  width: 7rem;
  height: 2rem;
}
